#buttonsContainer{
    display: flex;
    justify-content: space-around;
}

#sketchpad{
    display: grid;
    height: 500px;
    width: 500px;
}
/* may need to put grid in another container
display that container as flex to allow gridcon
to be displayed as grid */

